.badge{
   position: absolute;
   top: -5px;
   right: -5px;
   background: #9F7AEA;
   border-radius: 50%;
   display: flex;
   width: 18px;
   height: 18px;
   align-items: center;
   justify-content: center;
   font-size: small;
}

.icon{
  position: relative;
}
